{% extends "main/layout.html" %} {% load crispy_forms_tags %} {% block body %}
<header>
  <h1 class="mt-4 mb-3 bg-light shadow-sm bg-gradient rounded font-monospace">Create Your Book Club</h1>
</header>

<main class="mt-4">
  <!-- Form for Creating a Book Club -->
  <form method="POST" action="{% url 'main:create_club' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-3">{{ form.club_name|as_crispy_field }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-3">{{ form.types|as_crispy_field }}</div>
    </div>
    {{ form.club_description|as_crispy_field }}
    <button type="submit" class="btn bg-dark text-white font-monospace mt-3">Create Club</button>
  </form>
</main>
{% endblock %} {% block endjs %}
<script>
  $(document).ready(function () {
    var last_valid_selection = null;

    $("#id_types").change(function (event) {
      if ($(this).val().length > 3) {
        $(this).val(last_valid_selection);
      } else {
        last_valid_selection = $(this).val();
      }
    });
  });
</script>
{% endblock %}
